a:hover{
    border-top: 5px solid rgb(5, 5, 5);
    background-color: greenyellow;
    color: black;  
    padding-right: 10px; 
}
body{
    background-image: url("homebg.jpg");
    background-size: cover;
}

.container{
    color: black;
    background-color: gold;opacity: 70%;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
}
.submission{
    color: rgb(49, 73, 13)
}